.NavLink {
  padding: 5px; 
  color: #000;
  font-size: 14px; 
}

.NavLink:hover {
  color: #fce300;
}

.NavBar {
    background-color: #706d6d;
    border: 2px solid #fff;
}

.CategoryDropDown {
  padding: 5px; 
  color: #000;
}

.Active i {
  color: #fce300;
}

.DropdownToggle {
  background-color: #000;
  border: #000;
  color: #fce300;
  font-size: 14px;
}

.DropdownToggle:hover {
  background-color: #000;
  color: #fce300;
  text-decoration: none;
}


