.NavLink {
  padding: 5px; 
  text-decoration: none;
  color: #000; 
}

.NavLink:hover {
  color: #555;
}

.NavBar {
    background-color: #706d6d;
    border: 2px solid #fff;
}

.CategoryDropDown {
  color: #000;
}
