.NavLink {
  padding: 5px; 
  color: #000; 
}

.NavLink:hover {
  color: #fce300;
}

.NavBar {
    background-color: #706d6d;
    border: 2px solid #fff;
}

.CategoryDropDown {
  padding: 5px; 
  color: #000;
}

.Active i {
  color: #fce300;
}


