.Container {
  padding: 20px;
}

.Background {
  background: #d63e5f;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.FormCol {
  padding-right: 40px;
  margin: 0 auto;
}

.ImageCol {
  margin-top: 40px;
  margin: 0 auto;
}

.SignupLink {
  color: rgb(7, 7, 7);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.SignupLink:hover {
  color: #fce300;
}
