.App {
    background-color: #000000;
    min-height: 100vh;
  }
  
  .Main {
    padding-top: 81px;
  }
  
  .Content {
    background-color: #9e2841;
    padding: 10px;
    border-radius: 2px;
    border: 2px solid #ffffff;
  }

  body {
    color: #fdfbfb;
  }
  