.App {
    background-color: #a3a3a3;
    min-height: 100vh;
  }
  
  .Main {
    padding-top: 81px;
  }
  
  .Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #0a0a0a;
  }
  